
@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #151515;

}

#body{
    overflow-x: hidden;
}

.mousefollower{
    border:2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 1.7;
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line{
    /* background-color: burlywood; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
}

#line1part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
}

#line1part1 h5,#line1part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

#line1part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;

}

.line h2{ 
    font-size: 4.9vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes loaderAnime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;

    }
}

@keyframes loaderAnime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;

    }
}

.waiting{
    overflow: hidden;
    margin-left: 22%;
    margin-top: 3vw;
    
}

.waiting h3 {
    font-size: 1.2vw;
    font-weight: 300;
}

#main{
    /* height: 100%; */
    background-color: #151515;
    position: relative;
    z-index: 99;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    z-index: 100;
}

#page1 #nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.5vw 5.5vw;
    margin-top: -2vh;
    /* background-color: goldenrod; */
    margin-bottom: -2.5%;
}

.svgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

#nav p {
  line-height: 1.1vw;
  margin-left: -32vw;
  margin-top: 4vh;
}

#nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}


.hero{
    /* background-color: darkgray; */
    width: 72%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* position: relative; */
    /* z-index: 9999; */
}


.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.9vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 500;
    position: relative;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    left: 17%;
    top: 34.2%;
}

.hero h2{
    font-size: 7.9vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 500;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease; */
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
    background-color: #151515;
    /* background-color: #3F7DF4; */
}

#videocontainer{
    height: 66vh;
    width: 73vw;
    position: relative;
    left: 27.5%;
    top: -13.4%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-position: center;
    background-size: cover;

}

#videocontainer img{
      position: absolute;
      height: 101%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
}

#videocontainer video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

#videocursor{
    background-color: #FFA63D;
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 50%;
    position: absolute;
    top: -13%;
    left: 67%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#videocursor i{
    font-size: 3vw;
}



/* projects section */
#projects {
    width: 100%;
    /* min-height: 100vh; */
    background: #151515;
    background: #151515;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContent{
    width: 66vw;
    margin-right: 8vw;
    position: relative;
  
  }
  .projectContent h2{
    font-size: 7vw;
    font-weight: 500;
  }


  #projects .projectContent h2::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    left: -14%;
    top: 5%;
}

  .projectContainer{
    width: 100%;
    padding: 6vw 6vw 6vw 6vw;
    /* columns: 3; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* gap: 5vw; */
    -webkit-column-gap: 5vw;
       -moz-column-gap: 5vw;
            column-gap: 5vw;
    row-gap: 10vw;
  
  }

  .parentImg{
    width: 25vw; 
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* background: red; */
    /* position: relative; */
  }
  .parentImg h3{
    padding-bottom: 3vh;
    font-size: 2.7vw;
    font-weight: 500;
  }

  .textContainer {
    /* background-color: rgb(66, 94, 255); */
    border-bottom: 2px solid #fff;
    padding-top: 3vh;
    padding-bottom: 5vh; /* Adjust this value as needed */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* Align items vertically */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* Add space between p and h1 */
}

.textContainer p,h1{
    font-size: 1.1vw;
    font-weight: 300;
}

  .imgCircle{
    width: 23vw;
    height: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 18vw;
    position: relative ;
  
  }

  .imgCircle:hover .innerCircle{
    scale: 1;
  }

  .imgCircle:hover  p{
    scale: 1;
    opacity: 1;
  }

  .innerCircle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .innerCircle p {
    color: black;
    font-size: 1.1vw;
    -webkit-transition-delay: 2s;
         -o-transition-delay: 2s;
            transition-delay: 2s;
    -webkit-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
    scale: 0;
    opacity: 0;
  }
  .imgContainer{
    width: 25vw; 
    /* width: 100%; */
    height: 65vh;
    background: red;
    position: relative;
    overflow: hidden; 
    /* margin: 2vw; */
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .imgContainer img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  ._canvas_container{
    z-index: 9999 important;
    pointer-events: none;
  }

.projectContainer .parentImg:nth-child(2n){
    height: 90vh;
    width: 30vw;
}

.projectContainer .parentImg:nth-child(3){
    padding-top: 4vh;
}

  #circle2{
    margin-top: 0;
  }
  #circle2 svg{
    rotate: -45deg;
  }
  #cicle3{
    margin-top: 3vw;
  }
  #circle3 svg{
    rotate: -90deg;
  }
  .projectContainer .parentImg:nth-child(2n) .imgContainer{
    /* background: red; */
    height: 80vh;
    width: 30vw;
  }
  .imgCircle svg{
    width: 5vw;
  }
  .allProjects{
    width: 23vw;
    height: 23vw;
    background: #FFA63D;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 10vh;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.allProjects h6{
    font-size: 1.2vw;
    font-weight: 400;
}


.allProjects h6 span{
    font-family: 'silk serif';
}

.allProjects:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); /* Shrinks the div to 90% of its original size */
    /* transition: transform 0.3s ease-in-out; Smooth transition */
}






#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #383838; */
    position: relative;
    padding-top: 7vh 0;
}

#page4-content{
    width: 65vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    left: -14%;
    top: 8%;
}

#page4-content .underline{
    height: 1.3px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#underlinecontent p{
    /* background-color: #3F7DF4; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -5vh;
}

#page4-content>p{
    font-size: 2.1vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page4-flex img{
    max-width: 51%;
    height: auto;

}

#page4-flex p{
    font-size: 1.1vw;
    width: 28%;
    margin-left: 2vw;
    line-height: 1.5vw ;
}

#page4-bluebox{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -27.5vh;
    margin-left: 23vw;
}

.bluebox-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* background-color: cadetblue; */
    padding: 3vw 0.9vw;
    border-bottom: 1px solid #fff;

}

.bluebox-elem h4{
    font-size: 1.6vw;
    font-weight: 500;
}

.bluebox-elem P{
    width: 40%;
    font-size: 1.1vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 9vh;

}

.elem{
    /* background-color: #FFA63D; */
    white-space: nowrap;
    overflow-x: hidden;
    /* background-color: #FFA63D; */
    margin-bottom: -2vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    /* background-color: cyan; */
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes anime{
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }   
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes anime{
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }   
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    /* background-color: #FFA63D; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    /* background-color: cyan; */
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

#footer{
    height: 102vh;
    width: 100%;
    /* background-color: blueviolet;a */
    position: relative;
    padding-left: 28vw;
    padding-right: 4vw;
}

#footer h1{ 
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 400;
    /* background-color: cyan; */
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    left: -14%;
    top: 8%;
}

.underline{
    height: 2px;
    width: 100%;
    background-color: antiquewhite;
    margin: 3vw 0;
}

#footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 15vw;
    padding-top: 8vw;
    margin-bottom: 6vw;
    /* background-color: antiquewhite; */
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500 ;
}

.box{
    width: 20%;
    /* background-color: #3F7DF4; */
}

.box h5:hover{
    /* text-decoration: underline; */
    text-decoration: underline;
}

#footer-div h5{
    font-size: 1.4vw;
    font-weight: 500;
    /* margin: 0.2vh 0; */
}

#footer>h5{
    font-weight: 500;
    font-size: 1vw;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}
 

#flag{
    position:absolute;
    height: 27vw;
    top: 0;
    left: 0;
    opacity: 0;
    /* transform: translate(-50%,-50%); */
    /* pointer-events: none; */
}

#hero3{
    z-index: 999;
    position: relative;
    /* background-color: #FFA63D; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

